.about-section {
  margin-top: -150px; /* overlap ke liye */
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.about-container {
  max-width: 600px;
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25); /* shadow dark kar diya */
  position: relative;
  z-index: 20;
  height: 500px;
  margin-bottom: 3rem; /* footer se space */
}

.about-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #bb8b3a;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.separator {
  width: 80px;
  height: 3px;
  background-color: #bb8b3a;
  margin: 0 auto 1.5rem;
  border-radius: 5px;
}

.about-description {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  color: #555;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
