html, body, #root {
  height: 100%;
  background-color: #111; /* Footer jaisa dark background */
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
html {
  scroll-behavior: smooth;
}

